alembic
annotated-doc
annotated-types
anyio
asyncpg
beautifulsoup4
certifi
cffi
charset-normalizer
click
curl_cffi
fastapi
frozendict
h11
httpcore
httpx
idna
Mako
MarkupSafe
multitasking
numpy
pandas
peewee
platformdirs
protobuf
psycopg2-binary
pycparser
pydantic
pydantic-settings
pydantic_core
python-dateutil
python-dotenv
pytz
requests
six
sniffio
soupsieve
SQLAlchemy
starlette
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
websockets
yfinance
yahooquery
pandas-datareader
yahoo_fin
requests-html
lxml
html5lib
openbb
financetoolkit
vectorbt
QuantLib
jsonschema
